# 4MB flash
CONFIG_ESPTOOLPY_FLASHSIZE_1MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=n
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# 240MHz CPU frequency
CONFIG_ESP32_DEFAULT_CPU_FREQ_80=n
CONFIG_ESP32_DEFAULT_CPU_FREQ_160=n
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

# Use UART1 for console/logging
#CONFIG_ESP_CONSOLE_UART_DEFAULT=n
#CONFIG_ESP_CONSOLE_UART_CUSTOM=y
#CONFIG_ESP_CONSOLE_UART_NONE=n
#CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_0=n
#CONFIG_ESP_CONSOLE_UART_CUSTOM_NUM_1=y
#CONFIG_ESP_CONSOLE_UART_NUM=1
#CONFIG_ESP_CONSOLE_UART_TX_GPIO=17
#CONFIG_ESP_CONSOLE_UART_RX_GPIO=16
#CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Bluetooth
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=n
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=y
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BT_BLE_ENABLED=n
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_SPP_ENABLED=y
