menu "Application configuration"

    config APP_BT_QUEUES_LEN
        int "Bluetooth message queue size"
        default 8

    config APP_BT_TX_TASK_PRIO
        int "Bluetooth TX task priority"
        default 1

    config APP_CAN_TX_GPIO_NUM
        int "CAN TX GPIO number"
        default 21

    config APP_CAN_RX_GPIO_NUM
        int "CAN RX GPIO number"
        default 22

    config APP_CAN_RX_TASK_PRIO
        int "CAN RX task priority"
        default 1

    config APP_SLCAN_SERIAL_RX_TASK_PRIO
        int "SLCAN serial RX task priority"
        default 1

    config APP_SLCAN_CAN_RX_TASK_PRIO
        int "SLCAN CAN RX task priority"
        default 1

endmenu
