menu "Bluetooth"

    config BT_QUEUES_LEN
        int "Bluetooth message queue size"
        default 8

    config BT_TX_TASK_PRIO
        int "Bluetooth TX task priority"
        default 1

endmenu
